In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

%matplotlib notebook

In [2]:
import gmag.arrays.image as image
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
fl = image.list_files('2012-01-01',ndays=2)
fl.head()

        date                    fname                                 dir
0 2012-01-01  image2012010100.col2.gz  D:\data\magnetometer\IMAGE\2012\01
1 2012-01-02  image2012010200.col2.gz  D:\data\magnetometer\IMAGE\2012\01

In [4]:
#test download
image.download('2021-01-01',ndays=10, force=True)

https://space.fmi.fi/image/www/data_download.php?starttime=20210101&length=1440&format=text&sample_rate=10&compress
-1 / unknown
 D:\data\magnetometer\IMAGE\2021\01\image2021010100.col2.gz
https://space.fmi.fi/image/www/data_download.php?starttime=20210102&length=1440&format=text&sample_rate=10&compress
-1 / unknown
 D:\data\magnetometer\IMAGE\2021\01\image2021010200.col2.gz
https://space.fmi.fi/image/www/data_download.php?starttime=20210103&length=1440&format=text&sample_rate=10&compress
-1 / unknown
 D:\data\magnetometer\IMAGE\2021\01\image2021010300.col2.gz
https://space.fmi.fi/image/www/data_download.php?starttime=20210104&length=1440&format=text&sample_rate=10&compress
-1 / unknown
 D:\data\magnetometer\IMAGE\2021\01\image2021010400.col2.gz
https://space.fmi.fi/image/www/data_download.php?starttime=20210105&length=1440&format=text&sample_rate=10&compress
-1 / unknown
 D:\data\magnetometer\IMAGE\2021\01\image2021010500.col2.gz
https://space.fmi.fi/image/www/data_download.php?starttime=20210106&length=1440&format=text&sample_rate=10&compress
-1 / unknown
 D:\data\magnetometer\IMAGE\2021\01\image2021010600.col2.gz
https://space.fmi.fi/image/www/data_download.php?starttime=20210107&length=1440&format=text&sample_rate=10&compress
-1 / unknown
 D:\data\magnetometer\IMAGE\2021\01\image2021010700.col2.gz
https://space.fmi.fi/image/www/data_download.php?starttime=20210108&length=1440&format=text&sample_rate=10&compress
-1 / unknown
 D:\data\magnetometer\IMAGE\2021\01\image2021010800.col2.gz
https://space.fmi.fi/image/www/data_download.php?starttime=20210109&length=1440&format=text&sample_rate=10&compress
-1 / unknown
 D:\data\magnetometer\IMAGE\2021\01\image2021010900.col2.gz
https://space.fmi.fi/image/www/data_download.php?starttime=20210110&length=1440&format=text&sample_rate=10&compress
-1 / unknown
 D:\data\magnetometer\IMAGE\2021\01\image2021011000.col2.gz

In [8]:
df, meta=image.load(site=['AND','KIL','SOD','SOR'],sdate='2019-01-01',ndays=1)

File image2019010100.col2.gz exists use force=True to download
D:\data\magnetometer\IMAGE\2019\01\image2019010100.col2.gz

In [9]:
df.head()
df.tail()

,AND_X,AND_Y,AND_Z,KIL_X,KIL_Y,KIL_Z,SOD_X,SOD_Y,SOD_Z,SOR_X,SOR_Y,SOR_Z,AND_H,AND_D,KIL_H,KIL_D,SOD_H,SOD_D,SOR_H,SOR_D
t,,,,,,,,,,,,,,,,,,,,
2019-01-01 00:00:00,10867.6,1398.7,52336.6,10930.2,1166.3,52030.7,11221.3,2425.6,51766.0,10164.3,1881.6,52292.3,10956.799773,98.133477,10974.599689,-622.647086,11480.109837,90.483041,10336.984239,-13.034400
2019-01-01 00:00:10,10868.1,1397.5,52337.3,10929.8,1164.2,52029.3,11223.6,2424.1,51765.7,10159.5,1881.3,52291.7,10957.153719,96.882589,10973.864252,-624.654356,11482.056320,88.546239,10332.210555,-12.449644
2019-01-01 00:00:20,10869.4,1396.6,52336.1,10930.6,1161.8,52028.0,11224.7,2423.0,51765.6,10154.2,1879.4,52290.6,10958.337632,95.834566,10974.264236,-627.152358,11482.909359,87.245345,10326.652114,-13.346157
2019-01-01 00:00:30,10869.2,1395.3,52335.9,10929.4,1159.9,52027.0,11224.2,2422.4,51765.3,10149.2,1877.5,52289.8,10957.984656,94.567520,10972.771851,-628.832473,11482.297686,86.759694,10321.388592,-14.297649
2019-01-01 00:00:40,10867.5,1394.5,52335.9,10927.1,1159.1,52025.7,11223.4,2422.2,51765.0,10146.5,1877.1,52290.9,10956.201677,93.975078,10970.372524,-629.248683,11481.473724,86.726738,10318.661014,-14.196058

,AND_X,AND_Y,AND_Z,KIL_X,KIL_Y,KIL_Z,SOD_X,SOD_Y,SOD_Z,SOR_X,SOR_Y,SOR_Z,AND_H,AND_D,KIL_H,KIL_D,SOD_H,SOD_D,SOR_H,SOR_D
t,,,,,,,,,,,,,,,,,,,,
2019-01-01 23:59:10,10828.1,1415.6,52341.0,10901.1,1186.7,52008.4,11209.7,2443.3,51753.5,NaN,NaN,NaN,10919.586421,119.605003,10949.195328,-597.795760,11472.355935,110.173826,NaN,NaN
2019-01-01 23:59:20,10827.9,1415.3,52341.5,10900.7,1186.8,52008.5,11209.5,2443.4,51753.3,NaN,NaN,NaN,10919.352208,119.330879,10948.816854,-597.632182,11472.180480,110.312446,NaN,NaN
2019-01-01 23:59:30,10827.4,1415.5,52342.5,10900.4,1186.9,52008.5,11209.5,2443.4,51753.2,NaN,NaN,NaN,10918.879499,119.588845,10948.537055,-597.484831,11472.180480,110.312446,NaN,NaN
2019-01-01 23:59:40,10827.7,1415.6,52342.5,10900.6,1186.6,52008.7,11209.6,2443.3,51753.1,NaN,NaN,NaN,10919.189252,119.652509,10948.685728,-597.813306,11472.258029,110.194183,NaN,NaN
2019-01-01 23:59:50,10827.7,1414.6,52341.7,10900.8,1186.3,52008.8,11209.6,2443.4,51753.1,NaN,NaN,NaN,10919.070489,118.659586,10948.834401,-598.141782,11472.278386,110.292089,NaN,NaN

In [10]:
meta

,array,code,name,latitude,longitude,cgm_latitude,cgm_longitude,declination,lshell,mlt_midnight,mlt_ut,year,Time Resolution,Coordinates,PI,Institution
0,IMAGE,AND,Andenes,69.30,16.03,66.72492,98.78456,6.820710,6.404496,22.66780,1.332204,2019,10.0,"Geographic North - X, Eas - Y, Vertical Down -...",Liisa Juusola,Finnish Meteorological Institute
1,IMAGE,KIL,Kilpisj채rvi,69.06,20.77,66.28335,102.44590,9.337875,6.181388,22.42371,1.576292,2019,10.0,"Geographic North - X, Eas - Y, Vertical Down -...",Liisa Juusola,Finnish Meteorological Institute
2,IMAGE,SOD,Sodankyl채,67.37,26.63,64.36849,106.27150,11.745830,5.343969,22.16867,1.831332,2019,10.0,"Geographic North - X, Eas - Y, Vertical Down -...",Liisa Juusola,Finnish Meteorological Institute
3,IMAGE,SOR,Soroya,70.54,22.22,67.74125,104.64700,10.560030,6.969525,22.27697,1.723034,2019,10.0,"Geographic North - X, Eas - Y, Vertical Down -...",Liisa Juusola,Finnish Meteorological Institute

In [ ]:
# not you can plot with panda's, however there
#is an issue with determining the x-axis ticks
#which serverly slows plotting and is extremely
#memory intesive
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()
plt.plot(df['AND_X'])